In [180]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [181]:
inter_mth=pd.read_csv('international_matches.csv')
wld_mth=pd.read_csv('world_cup_matches.csv')
fifa_rank=pd.read_csv('2022_world_cup_groups.csv')

In [182]:
inter_mth.head(5)

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Winning Team,Losing Team,Win Conditions,Home Stadium
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,NaN,NaN,True
1,2,Friendly,1873-03-08,England,4,2,Scotland,England,Scotland,NaN,True
2,3,Friendly,1874-03-07,Scotland,2,1,England,Scotland,England,NaN,True
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,NaN,NaN,True
4,5,Friendly,1876-03-04,Scotland,3,0,England,Scotland,England,NaN,True

In [183]:
wld_mth.head(5)

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Winning Team,Losing Team,Win Conditions,Host Team
0,1,1930,1930/7/13,Group stage,France,4,1,Mexico,France,Mexico,NaN,False
1,2,1930,1930/7/13,Group stage,United States,3,0,Belgium,United States,Belgium,NaN,False
2,3,1930,1930/7/14,Group stage,Yugoslavia,2,1,Brazil,Yugoslavia,Brazil,NaN,False
3,4,1930,1930/7/14,Group stage,Romania,3,1,Peru,Romania,Peru,NaN,False
4,5,1930,1930/7/15,Group stage,Argentina,1,0,France,Argentina,France,NaN,False

In [184]:
fifa_rank.head(5)

  Group         Team  FIFA Ranking
0     A        Qatar            50
1     A      Ecuador            44
2     A      Senegal            18
3     A  Netherlands             8
4     B      England             5

In [185]:
inter_mth.dtypes

ID                 int64
Tournament        object
Date              object
Home Team         object
Home Goals         int64
Away Goals         int64
Away Team         object
Winning Team      object
Losing Team       object
Win Conditions    object
Home Stadium        bool
dtype: object

In [186]:
wld_mth.dtypes

ID                 int64
Year               int64
Date              object
Stage             object
Home Team         object
Home Goals         int64
Away Goals         int64
Away Team         object
Winning Team      object
Losing Team       object
Win Conditions    object
Host Team           bool
dtype: object

In [187]:
fifa_rank.dtypes

Group           object
Team            object
FIFA Ranking     int64
dtype: object

In [188]:
inter_mth= inter_mth.drop(columns=['Win Conditions'])
inter_mth.head()

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Winning Team,Losing Team,Home Stadium
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,NaN,True
1,2,Friendly,1873-03-08,England,4,2,Scotland,England,Scotland,True
2,3,Friendly,1874-03-07,Scotland,2,1,England,Scotland,England,True
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,NaN,True
4,5,Friendly,1876-03-04,Scotland,3,0,England,Scotland,England,True

In [189]:
wld_mth = wld_mth.drop(columns=['Win Conditions'])
wld_mth.head()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Winning Team,Losing Team,Host Team
0,1,1930,1930/7/13,Group stage,France,4,1,Mexico,France,Mexico,False
1,2,1930,1930/7/13,Group stage,United States,3,0,Belgium,United States,Belgium,False
2,3,1930,1930/7/14,Group stage,Yugoslavia,2,1,Brazil,Yugoslavia,Brazil,False
3,4,1930,1930/7/14,Group stage,Romania,3,1,Peru,Romania,Peru,False
4,5,1930,1930/7/15,Group stage,Argentina,1,0,France,Argentina,France,False

In [190]:
inter_mth['Year']=pd.DatetimeIndex(inter_mth['Date']).year

In [191]:
grp=fifa_rank.groupby('Group')
Fifa_grp_2022=list(fifa_rank['Team'].unique())
Fifa_grp_2022

['Qatar',
 'Ecuador',
 'Senegal',
 'Netherlands',
 'England',
 'Iran',
 'United States',
 'Wales',
 'Argentina',
 'Saudi Arabia',
 'Mexico',
 'Poland',
 'France',
 'Australia',
 'Denmark',
 'Tunisia',
 'Spain',
 'Costa Rica',
 'Germany',
 'Japan',
 'Belgium',
 'Canada',
 'Morocco',
 'Croatia',
 'Brazil',
 'Serbia',
 'Switzerland',
 'Cameroon',
 'Portugal',
 'Ghana',
 'Uruguay',
 'South Korea']

In [257]:
My_df=[]
for j in Fifa_grp_2022:
    win_inter =len(inter_mth[(inter_mth['Winning Team']==j) & (inter_mth['Year']>1998)])
    loss_inter=len(inter_mth[(inter_mth['Losing Team']==j) & (inter_mth['Year']>1998)])
    tot_inter=win_inter+loss_inter
    if tot_inter==0:
        win_inter_perct=0
        loss_inter_perct=0
    else:
        win_inter_perct=(win_inter/tot_inter)*100
        loss_inter_perct=(loss_inter/tot_inter)*100

    win_wrld =len(wld_mth[(wld_mth['Winning Team']==j) & (wld_mth['Year']>1998)])
    loss_wrld=len(wld_mth[(wld_mth['Losing Team']==j) & (wld_mth['Year']>1998)])
    tot_wrld=win_wrld+loss_wrld
    if tot_wrld==0:
        win_wrld_perct=0
        loss_wrld_perct=0
    else:
        win_wrld_perct=(win_wrld/tot_wrld)*100
        loss_wrld_perct=(loss_wrld/tot_wrld)*100
    
    team_rnk=list(fifa_rank[fifa_rank['Team']==j]['FIFA Ranking'])[0]
    dic1={'Country':j}
    grp_df=pd.DataFrame([[j,win_inter_perct,loss_inter_perct,win_wrld_perct,loss_wrld_perct,team_rnk]],columns=['Country','International_Mth_Win','International_Mth_Loss','Wrld_Cup_Win','Wrld_Cup_Loss','Fifa2022_Rnk'])
    My_df.append(grp_df)
    

Fin_Dataset=pd.concat(My_df)

In [258]:
Fin_Dataset

,Country,International_Mth_Win,International_Mth_Loss,Wrld_Cup_Win,Wrld_Cup_Loss,Fifa2022_Rnk
0,Qatar,57.777778,42.222222,0.000000,0.000000,50
0,Ecuador,49.500000,50.500000,44.444444,55.555556,44
0,Senegal,71.891892,28.108108,60.000000,40.000000,18
0,Netherlands,77.114428,22.885572,86.666667,13.333333,8
0,England,78.680203,21.319797,56.250000,43.750000,5
0,Iran,80.349345,19.650655,16.666667,83.333333,20
0,United States,69.283276,30.716724,36.363636,63.636364,16
0,Wales,48.765432,51.234568,0.000000,0.000000,19
0,Argentina,78.403756,21.596244,73.684211,26.315789,3
0,Saudi Arabia,65.441176,34.558824,12.500000,87.500000,51
0,Mexico,68.404908,31.595092,50.000000,50.000000,13
0,Poland,64.761905,35.238095,33.333333,66.666667,26
0,France,80.444444,19.555556,72.222222,27.777778,4
0,Australia,69.841270,30.158730,20.000000,80.000000,38
0,Denmark,67.379679,32.620321,57.142857,42.857143,10
0,Tunisia,66.831683,33.168317,14.285714,85.714286,30
0,Spain,86.026201,13.973799,77.777778,22.222222,7
0,Costa Rica,55.294118,44.705882,33.333333,66.666667,31
0,Germany,75.446429,24.553571,78.571429,21.428571,11
0,Japan,71.374046,28.625954,38.461538,61.538462,24
0,Belgium,68.253968,31.746032,78.571429,21.428571,2
0,Canada,53.333333,46.666667,0.000000,0.000000,41
0,Morocco,70.769231,29.230769,0.000000,100.000000,22
0,Croatia,72.580645,27.419355,50.000000,50.000000,12
0,Brazil,83.399209,16.600791,80.000000,20.000000,1
0,Serbia,61.202186,38.797814,22.222222,77.777778,21
0,Switzerland,64.406780,35.593220,60.000000,40.000000,15
0,Cameroon,69.491525,30.508475,12.500000,87.500000,43
0,Portugal,79.326923,20.673077,53.333333,46.666667,9
0,Ghana,60.621762,39.378238,44.444444,55.555556,61
0,Uruguay,61.340206,38.659794,60.000000,40.000000,14
0,South Korea,68.852459,31.147541,40.000000,60.000000,28

In [259]:
Fin_Dataset.sort_values(by=['Fifa2022_Rnk'])

,Country,International_Mth_Win,International_Mth_Loss,Wrld_Cup_Win,Wrld_Cup_Loss,Fifa2022_Rnk
0,Brazil,83.399209,16.600791,80.000000,20.000000,1
0,Belgium,68.253968,31.746032,78.571429,21.428571,2
0,Argentina,78.403756,21.596244,73.684211,26.315789,3
0,France,80.444444,19.555556,72.222222,27.777778,4
0,England,78.680203,21.319797,56.250000,43.750000,5
0,Spain,86.026201,13.973799,77.777778,22.222222,7
0,Netherlands,77.114428,22.885572,86.666667,13.333333,8
0,Portugal,79.326923,20.673077,53.333333,46.666667,9
0,Denmark,67.379679,32.620321,57.142857,42.857143,10
0,Germany,75.446429,24.553571,78.571429,21.428571,11
0,Croatia,72.580645,27.419355,50.000000,50.000000,12
0,Mexico,68.404908,31.595092,50.000000,50.000000,13
0,Uruguay,61.340206,38.659794,60.000000,40.000000,14
0,Switzerland,64.406780,35.593220,60.000000,40.000000,15
0,United States,69.283276,30.716724,36.363636,63.636364,16
0,Senegal,71.891892,28.108108,60.000000,40.000000,18
0,Wales,48.765432,51.234568,0.000000,0.000000,19
0,Iran,80.349345,19.650655,16.666667,83.333333,20
0,Serbia,61.202186,38.797814,22.222222,77.777778,21
0,Morocco,70.769231,29.230769,0.000000,100.000000,22
0,Japan,71.374046,28.625954,38.461538,61.538462,24
0,Poland,64.761905,35.238095,33.333333,66.666667,26
0,South Korea,68.852459,31.147541,40.000000,60.000000,28
0,Tunisia,66.831683,33.168317,14.285714,85.714286,30
0,Costa Rica,55.294118,44.705882,33.333333,66.666667,31
0,Australia,69.841270,30.158730,20.000000,80.000000,38
0,Canada,53.333333,46.666667,0.000000,0.000000,41
0,Cameroon,69.491525,30.508475,12.500000,87.500000,43
0,Ecuador,49.500000,50.500000,44.444444,55.555556,44
0,Qatar,57.777778,42.222222,0.000000,0.000000,50
0,Saudi Arabia,65.441176,34.558824,12.500000,87.500000,51
0,Ghana,60.621762,39.378238,44.444444,55.555556,61

In [260]:
Fin_Dataset['Inter_Win_rank']=Fin_Dataset['International_Mth_Win'].rank(ascending=False)

In [261]:
Fin_Dataset['WrldCup_Win_Rnk']=Fin_Dataset['Wrld_Cup_Win'].rank(ascending=False)

In [262]:
Fin_Dataset['My_2022_FiFa_Prediction']=(Fin_Dataset['Inter_Win_rank']*0.30+Fin_Dataset['WrldCup_Win_Rnk']*0.70)/2

In [263]:
Fin_Dataset['My_2022_FiFa_Prediction']=Fin_Dataset['My_2022_FiFa_Prediction'].apply(lambda w:math.floor(w))

In [264]:
Fin_Dataset

,Country,International_Mth_Win,International_Mth_Loss,Wrld_Cup_Win,Wrld_Cup_Loss,Fifa2022_Rnk,Inter_Win_rank,WrldCup_Win_Rnk,My_2022_FiFa_Prediction
0,Qatar,57.777778,42.222222,0.000000,0.000000,50,28.0,30.5,14
0,Ecuador,49.500000,50.500000,44.444444,55.555556,44,31.0,16.5,10
0,Senegal,71.891892,28.108108,60.000000,40.000000,18,11.0,9.0,4
0,Netherlands,77.114428,22.885572,86.666667,13.333333,8,8.0,1.0,1
0,England,78.680203,21.319797,56.250000,43.750000,5,6.0,12.0,5
0,Iran,80.349345,19.650655,16.666667,83.333333,20,4.0,25.0,9
0,United States,69.283276,30.716724,36.363636,63.636364,16,16.0,20.0,9
0,Wales,48.765432,51.234568,0.000000,0.000000,19,32.0,30.5,15
0,Argentina,78.403756,21.596244,73.684211,26.315789,3,7.0,6.0,3
0,Saudi Arabia,65.441176,34.558824,12.500000,87.500000,51,22.0,27.5,12
0,Mexico,68.404908,31.595092,50.000000,50.000000,13,18.0,14.5,7
0,Poland,64.761905,35.238095,33.333333,66.666667,26,23.0,21.5,10
0,France,80.444444,19.555556,72.222222,27.777778,4,3.0,7.0,2
0,Australia,69.841270,30.158730,20.000000,80.000000,38,14.0,24.0,10
0,Denmark,67.379679,32.620321,57.142857,42.857143,10,20.0,11.0,6
0,Tunisia,66.831683,33.168317,14.285714,85.714286,30,21.0,26.0,12
0,Spain,86.026201,13.973799,77.777778,22.222222,7,1.0,5.0,1
0,Costa Rica,55.294118,44.705882,33.333333,66.666667,31,29.0,21.5,11
0,Germany,75.446429,24.553571,78.571429,21.428571,11,9.0,3.5,2
0,Japan,71.374046,28.625954,38.461538,61.538462,24,12.0,19.0,8
0,Belgium,68.253968,31.746032,78.571429,21.428571,2,19.0,3.5,4
0,Canada,53.333333,46.666667,0.000000,0.000000,41,30.0,30.5,15
0,Morocco,70.769231,29.230769,0.000000,100.000000,22,13.0,30.5,12
0,Croatia,72.580645,27.419355,50.000000,50.000000,12,10.0,14.5,6
0,Brazil,83.399209,16.600791,80.000000,20.000000,1,2.0,2.0,1
0,Serbia,61.202186,38.797814,22.222222,77.777778,21,26.0,23.0,11
0,Switzerland,64.406780,35.593220,60.000000,40.000000,15,24.0,9.0,6
0,Cameroon,69.491525,30.508475,12.500000,87.500000,43,15.0,27.5,11
0,Portugal,79.326923,20.673077,53.333333,46.666667,9,5.0,13.0,5
0,Ghana,60.621762,39.378238,44.444444,55.555556,61,27.0,16.5,9
0,Uruguay,61.340206,38.659794,60.000000,40.000000,14,25.0,9.0,6
0,South Korea,68.852459,31.147541,40.000000,60.000000,28,17.0,18.0,8

In [265]:
MY_Fifa_Predictions_2022=Fin_Dataset[['Country','Fifa2022_Rnk','My_2022_FiFa_Prediction']]

In [266]:
MY_Fifa_Predictions_2022

         Country  Fifa2022_Rnk  My_2022_FiFa_Prediction
0          Qatar            50                       14
0        Ecuador            44                       10
0        Senegal            18                        4
0    Netherlands             8                        1
0        England             5                        5
0           Iran            20                        9
0  United States            16                        9
0          Wales            19                       15
0      Argentina             3                        3
0   Saudi Arabia            51                       12
0         Mexico            13                        7
0         Poland            26                       10
0         France             4                        2
0      Australia            38                       10
0        Denmark            10                        6
0        Tunisia            30                       12
0          Spain             7                        1
0     Costa Rica            31                       11
0        Germany            11                        2
0          Japan            24                        8
0        Belgium             2                        4
0         Canada            41                       15
0        Morocco            22                       12
0        Croatia            12                        6
0         Brazil             1                        1
0         Serbia            21                       11
0    Switzerland            15                        6
0       Cameroon            43                       11
0       Portugal             9                        5
0          Ghana            61                        9
0        Uruguay            14                        6
0    South Korea            28                        8

In [267]:
MY_Fifa_Predictions_2022.sort_values(by=['My_2022_FiFa_Prediction'])

         Country  Fifa2022_Rnk  My_2022_FiFa_Prediction
0    Netherlands             8                        1
0         Brazil             1                        1
0          Spain             7                        1
0         France             4                        2
0        Germany            11                        2
0      Argentina             3                        3
0        Senegal            18                        4
0        Belgium             2                        4
0        England             5                        5
0       Portugal             9                        5
0        Croatia            12                        6
0    Switzerland            15                        6
0        Denmark            10                        6
0        Uruguay            14                        6
0         Mexico            13                        7
0          Japan            24                        8
0    South Korea            28                        8
0          Ghana            61                        9
0  United States            16                        9
0           Iran            20                        9
0         Poland            26                       10
0        Ecuador            44                       10
0      Australia            38                       10
0     Costa Rica            31                       11
0       Cameroon            43                       11
0         Serbia            21                       11
0        Tunisia            30                       12
0   Saudi Arabia            51                       12
0        Morocco            22                       12
0          Qatar            50                       14
0         Canada            41                       15
0          Wales            19                       15